<template>
  <div>
    <h1>Client</h1>

    <button v-if="connected" v-on:click="disconnect">Disconnect</button>

    <div class="error" v-if="error">
      {{ error }}
    </div>

    <div v-if="log_message">
      {{ log_message }}
    </div>

    <div class="messages">
      <div v-for="message in messages">
        {{ message }}
      </div>
    </div>

    <form v-if="!connected" v-on:submit="onConnect">
      <label for="connect_address">Enter server ip:port</label>
      <input id="connect_address" type="text"></input> 
      <input type="submit"></input>
    </form>

    <form v-if="connected" v-on:submit="onSendMessage">
      <label for="send_message">Enter message</label>
      <input id="send_message" type="text"></input>
      <input type="submit"></input>
    </form>

  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        messages: [],
        connected: false,
        net: require('net'),
        client: null,
        port: null,
        ip: null,
        error: null,
        log_message: null
      }
    },
    methods: {
      onConnect: function (evt) {
        evt.preventDefault()
        const address = document.getElementById('connect_address').value
        const parsedAddress = this.tryParseAddress(address)
        if (parsedAddress) {
          this.tryToConnect(parsedAddress[1], parsedAddress[2])
          this.error = null
        } else {
          this.showErorr('Cannot parse address')
        }
      },

      tryParseAddress: function (address) {
        return address.match(/^(\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}):(\d{1,5})$/i)
      },

      tryToConnect: function (ip, port) {
        this.client = new this.net.Socket()

        this.client.connect(port, ip, function () {
          this.showLogMessage('Connected!')
          this.connected = true
        }.bind(this))

        this.client.on('data', function (data) {
          this.messages.push(this.parseMessage(data))
        }.bind(this))

        this.client.on('close', function () {
          this.showLogMessage('Connection closed', this.refresh.bind(this))
        }.bind(this))
      },

      parseMessage: function (data) {
        return data.toString('utf8')
      },

      onSendMessage: function (evt) {
        evt.preventDefault()
        const message = document.getElementById('send_message').value
        this.client.write(message)
      },

      showErorr: function (err) {
        this.error = err
        setTimeout(function () {
          this.error = null
        }.bind(this), 5000)
      },

      showLogMessage: function (message, callback) {
        this.log_message = message
        setTimeout(function () {
          if (callback) {
            callback()
          }
          this.log_message = null
        }.bind(this), 5000)
      },

      disconnect: function () {
        this.client.destroy()
        this.refresh()
      },

      refresh: function () {
        this.messages = []
        this.connected = false
        this.client = null
        this.port = null
        this.ip = null
        this.error = null
        this.log_message = null
      }
    }
  }
</script>

<style>

</style>
