<template>
  <div>
    <h1>Main</h1>

    <div>
      <input name="server_client_check" value="server" type="radio" id="server" v-model="radio_check"></input>
      <label for="server">Server</label>
      <input name="server_client_check" value="client" type="radio" id="client" v-model="radio_check"></input>
      <label for="client">Client</label>
    </div>

    <server v-show="isServer"></server>
    <client v-show="isClient"></client>

  </div>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'
  import Server from './Server'
  import Client from './Client'

  export default {
    data: function () {
      return {
        radio_check: 'server'
      }
    },
    computed: {
      isServer: function () {
        return this.radio_check === 'server'
      },
      isClient: function () {
        return this.radio_check === 'client'
      }
    },
    components: { SystemInformation, Server, Client }

  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  body { font-family: 'Source Sans Pro', sans-serif; }

  .error {
    color: red;
  }

/*    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
*/
</style>
