<template>
  <div>
    <h1>Server</h1>

    <button v-if="is_server_created" v-on:click="disconnect">Shut down</button>

    <div class="error" v-if="error">
      {{ error }}
    </div>

    <div v-if="log_message">
      {{ log_message }}
    </div>

    <div v-if="sockets.length > 0" class="active-connections">
        <p>Active connections</p>
        <div v-for="socket in sockets">
          {{ socket.remoteAddress}} : {{ socket.remotePort }} 
        </div>
    </div>
    
    <form v-if="!is_server_created" v-on:submit="onCreateServer">
      <label for="create_server">Enter server port</label>
      <input id="create_server" type="text"></input> 
      <input type="submit"></input>
    </form>

  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        is_server_created: false,
        host: '127.0.0.1',
        net: require('net'),
        sockets: [],
        messages: [],
        error: null,
        log_message: null,
        server: null
      }
    },
    methods: {
      onCreateServer: function (evt) {
        evt.preventDefault()

        const port = document.getElementById('create_server').value
        const parsedPort = this.tryParsePort(port)

        if (parsedPort) {
          this.server = this.net.createServer(this.connectionCallback.bind(this)).listen(parsedPort[0], this.host)
          this.is_server_created = true
        } else {
          this.showLogMessage('Cannot parse port')
        }
      },

      connectionCallback: function (sock) {
        this.sockets.push(sock)

        sock.on('data', function (data) {
          this.messages.push(this.parseMessage(data))
          this.sendMessageToAll(data)
        }.bind(this))

        sock.on('close', function (data) {
          this.showLogMessage(data)
          this.sockets = this.sockets.filter((s) => s !== sock)
        }.bind(this))
      },

      sendMessageToAll: function (msg) {
        this.sockets.forEach(function (sock) {
          sock.write(msg)
        })
      },

      parseMessage: function (data) {
        return data.toString('utf8')
      },

      tryParsePort: function (port) {
        return port.match(/^\d{1,5}$/i)
      },

      showErorr: function (err) {
        this.error = err
        setTimeout(function () {
          this.error = null
        }.bind(this), 5000)
      },

      showLogMessage: function (message) {
        this.log_message = message
        setTimeout(function () {
          this.log_message = null
        }.bind(this), 5000)
      },

      disconnect: function () {
        this.sockets.forEach((s) => s.destroy())
        this.server.close()
        this.refresh()
      },

      refresh: function () {
        this.is_server_created = false
        this.sockets = []
        this.messages = []
        this.error = null
        this.log_message = null
        this.server = null
      }
    }
  }
</script>

<style>
</style>
